@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h4>mitesh chavda</h4>

<a target="_blank" href="https://www.bartoszchodyla.pl/kontakt/">Contact form</a>
<address>
    <strong>Email:</strong> <a href="mailto:bartoszchodyla@gmail.com">miteshchavda79@gmail.com</a><br />
    <strong>Phone Number:</strong> <a href="tel:+91 8799557797">+91 8799557797</a>
</address>